.container {
    width:90%;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: 10% 5% 40% 40% 5%;
    padding: 10px 5px;
    border-bottom: 1px solid gray;
}

div.row:nth-child(even) {background: #CCC}

.week1, .week2, .week3, .week4, .week5 {text-decoration: line-through}

.done {text-decoration: line-through}

@media screen and (max-width: 800px) {
    .row {display: block}
    div.headingRow {display:none}
    div.row div:nth-child(1)::before {content:"WEEK : "}
    div.row div:nth-child(2)::before {content:"WEEK OF : "}
    div.row div:nth-child(3)::before {content:"TOPICS : "}
    div.row div:nth-child(4)::before {content:"ASSINGMENT : "}
    div.row div:nth-child(5)::before {content:"ASSINGMENT DUE : "}
}

